

/* ----------DRY FORMATTING------------ */

* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    background: white;
    text-align: center;
}

h1, h2, h3 {
    letter-spacing: .03em;
}

p {
    color: #A4A9AE;
    font-weight: 300;
    font-size: .9em;
}

form {
    background: white;
    color: #2D3945;
    border: none;
}

fieldset {
    border: none;
}

input, select, textarea, label {
    display: block;
    font-weight: 300;
}

hr {
    margin: 3px 15px;
}

.container {
    margin: 1.25em 0;
}

/* --------------HEADER--------------- */
header h1 {
    background: #2D3945;
    color: white;
    font-size: 1.1em;
    margin: auto;
    padding: 20px;
    width: 100%;
}

header p {
    margin: 0 20px 25px 20px;
}

header h3 {
    margin-bottom: 10px;
}

.thick-line {
    margin-bottom: 0;
    height: 4px;
    background: #2D3945;
}

/* ----------------CONTACT INFO-------------- */

.contact {
    font-size: 1em;
}

.contact label {
    font-size: .9em;
    font-weight: 300;
    opacity: 70%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    border: none;
    background: #EFF0F1;
    border-radius: 3px;
    width: 100%;
    height: 3.5em;
    padding-right: 1.5em;

}

select {
    padding-left: 1.5em;
}

option:first-child {
    color: #A4A9AE;
    opacity: .25;
}

.contact input:focus {
    border: 2px solid #2D3945;
    outline-color: #2D3945;
}

.zipcode {
    width: 50%;
}

input::placeholder {
    text-align: right; 
    font-style: italic;
    opacity: .25;
    font-size: .9em;
}


/* ----------------NEWSLETTER---------------- */

.newsletter {
    color: #A4A9AE;
}

.newsletter h3 {
    color: #2D3945;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

label input {
    margin: 10px;
}

label:last-of-type {
    margin-bottom: 1em;
}

textarea {
    background: #EFF0F1;
    border: none;
    border-radius: 5px;
    height: 6em;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 1.5em;
    color: white;
    height: 3.5em;
    border: none;
    border-radius: 5px;
    background: #4EBBB5;
    font-size: 1.1em;
}

/* --------------FOOTER-------------------- */

footer {
    text-align: center;
    opacity: .75;
    margin-bottom: 200px;
}


/* ------------MEDIA QUERIES------------- */

@media screen and (min-width: 768px) {

form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: auto;
    }
.container {
    display: flex;
}

#zipcode {
    width: 30%;
}

.zipcode-label {
    width: 212.15px;
}

.newsletter-hr {
    width: 100%;
}

label {
    width: 350px;
}

select {
    padding-left: 5px;
}

button, .textbox {
    width: 150%;
}

}